<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="submenu-textbook" class="admin-submenu">
  <div class="admin-content-list-section">
    <p>Trang chủ</p>
  </div>
  <div class="admin-content-submenu">
    <ul class="admin-content-submenu-container">
      <li class="admin-content-submenu-item"><a href="#"><p>[[#{manage_list_textbook}]]</p></a></li>
      <li class="admin-content-submenu-item"><a href="#"><p>[[#{manage_list_lesson}]]</p></a></li>
      <li class="admin-content-submenu-item"><a href="#"><p>[[#{manage_list_detail_lesson}]]</p></a></li>
    </ul>
  </div>
</div>
</body>
</html>