<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="admin-sidebar" class="">
    <aside class="col-md-3 col-lg-2 bg-light sidebar scrollable">
        <div class="text-muted-cs sidebar-title">
            Admin
        </div>
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link sidebar-menu"
                   href="#">
                    <div>
                        <i class="fa-solid fa-plug-circle-exclamation"></i>
                        <div>Phân quyền</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a class="nav-link request" href="/account/role?lang=vi">
                            <div>Vai trò</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link request" href="/account/permission?lang=vi">
                            <div>Quyền hạn</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link request" href="/account/delegation?lang=vi">
                            <div>Phân chia vai trò</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <div>Tài khoản</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a class="nav-link request" href="/account/user?lang=vi">
                            <div>Danh sách tài khoản</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link request" href="/account/student?lang=vi">
                            <div>Tạo tài khoản (học viên)</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link request" href="/account/teacher?lang=vi">
                            <div>Tạo tài khoản (giảng viên)</div>
                        </a>
                    </li>
                </ul>
            </li>
            <div class="text-muted-cs sidebar-title">
                Tài liệu
            </div>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-brands fa-product-hunt"></i>
                        <div>Khóa học</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a href="/admin/course?lang=vi" class="nav-link">
                            <div>Quản lý khóa học</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-solid fa-s"></i>
                        <div>Môn học</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a href="/admin/subject/list?lang=vi" class="nav-link">
                            <div>Danh sách môn học</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/subject/manage?lang=vi" class="nav-link">
                            <div>Quản lý môn học</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-solid fa-book"></i>
                        <div>Giáo trình</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a href="/admin/textbook/manage?lang=vi" class="nav-link">
                            <div>Quản lý giáo trình</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/textbook/list?lang=vi" class="nav-link">
                            <div>Quản lý nội dung</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <div>Bài học</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <div>Danh sách bài học</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-solid fa-thumbtack"></i>
                        <div>Bài tập</div>
                    </div>
                    <i class="icon-collapse fa-solid fa-caret-down"></i>
                </a>
                <ul class="list-unstyled sidebar-submenu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <div>Danh sách bài tập</div>
                        </a>
                    </li>
                </ul>
            </li>
            <div class="text-muted-cs sidebar-title">
                Bài viết
            </div>
            <li class="nav-item">
                <a href="/post/term?lang=vi" class="nav-link sidebar-menu">
                    <div>
                        <i class="fa-solid fa-glasses"></i>
                        <div>Thuật ngữ</div>
                    </div>
                </a>
            </li>
            <div class="text-muted-cs sidebar-title">
                Thông tin
            </div>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="/media/gallery?lang=vi">
                    <div>
                        <i class="fa-solid fa-images"></i>
                        <div>Kho ảnh</div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="/admin/personal?lang=vi">
                    <div>
                        <i class="fa-solid fa-circle-info"></i>
                        <div>Thông tin cá nhân</div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="/admin/order?lang=vi">
                    <div>
                        <i class="fa-solid fa-unlock"></i>
                        <div>Đơn hàng</div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-menu" href="#">
                    <div>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <div>Thoát</div>
                    </div>
                </a>
            </li>
        </ul>
    </aside>
</th:block>
<script th:fragment="scripts" type="text/javascript">
</script>
</body>
</html>