body main .content .content-detail {
  max-height: calc(100vh - 72px);
  overflow-y: auto;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.scrollable {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollable::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: #EEEEEE;
}

.content-detail {
  padding: 20px !important;
}

.location-detail {
  color: #a7a7a7;
}

.edit-btn {
  color: #f1c40f;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 18px;
}
.edit-btn:hover {
  color: #b9770e;
}

.refresh-btn {
  color: #3498db;
  transition: color 0.2s ease;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
}
.refresh-btn:hover {
  color: #1f618d;
}

.delete-btn {
  color: #e74c3c;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 18px;
}
.delete-btn:hover {
  color: #922b21;
}

.view-btn {
  color: #3f3a64;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}
.view-btn:hover {
  color: rgba(63, 58, 100, 0.4156862745);
}

.add-btn {
  color: #27ae60;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}
.add-btn:hover {
  color: #176839;
}

.table-list {
  padding: 0px 20px !important;
}
.table-list .table-role {
  width: 100%;
}
.table-list .table-role th, .table-list .table-role td {
  padding: 10px 20px;
}
.table-list .table-role th {
  border-bottom: 1px solid #6e6e6e;
}
.table-list .table-role tr:hover {
  background-color: #ffffff;
}

.btn-create {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-create:hover {
  background-color: #218838;
}

.notification-container {
  max-width: 250px;
}

.notification {
  padding: 15px 20px;
  border-radius: 8px;
  color: #464646;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 80px;
  right: 50px;
}
.notification.success {
  background-color: #DCF3D6;
  border: 0.5px solid #ABC89D;
}
.notification.success > div {
  flex-flow: row;
  align-items: center;
  gap: 50px;
}
.notification.success > div i {
  color: #36831e;
  font-size: 28px;
}
.notification.success > div > div {
  flex-flow: column;
  justify-content: space-between;
}
.notification.success > div > div p#notification-title {
  color: #36831e;
  font-size: 20px;
  margin-bottom: 0 !important;
  font-weight: 600;
}
.notification.success > div > div p#notification-detail {
  color: #BDD6B6;
  font-size: 18px;
  margin-bottom: 0 !important;
}
.notification.error {
  background-color: #EEC8C5;
  border: 0.5px solid #C18489;
}
.notification.error > div {
  flex-flow: row;
  align-items: center;
  gap: 50px;
}
.notification.error > div i {
  color: #BA3C3C;
  font-size: 28px;
}
.notification.error > div > div {
  flex-flow: column;
  justify-content: space-between;
}
.notification.error > div > div p#notification-title {
  color: #BA3C3C;
  font-size: 20px;
  margin-bottom: 0 !important;
  font-weight: 600;
}
.notification.error > div > div p#notification-detail {
  color: #BC4C45;
  font-size: 18px;
  margin-bottom: 0 !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.disabled-link {
  color: rgba(63, 58, 100, 0.1058823529);
  pointer-events: none !important;
  background-color: rgba(63, 58, 100, 0.1058823529);
}
.disabled-link i {
  color: rgba(63, 58, 100, 0.1058823529);
}
.disabled-link:hover {
  color: rgba(63, 58, 100, 0.1058823529);
  background-color: rgba(63, 58, 100, 0.1058823529);
}

.page-link {
  cursor: pointer;
}

.invalid {
  border: 1px solid #e74c3c !important;
}

header .logo img {
  width: 40px;
  height: 40px;
}
header .user-info img {
  width: 40px;
  height: 40px;
}

body {
  font-family: "Roboto" !important;
  height: 100%;
}

.text-muted-cs {
  color: #a7a7a7 !important;
}

.sidebar {
  padding: 20px 0px;
  height: calc(100vh - 72px);
  border-right: 1px solid #e3e3e3;
  background-color: #EEEEEE;
  color: #6e6e6e;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar .sidebar-user,
.sidebar .sidebar-menu,
.sidebar .sidebar-submenu {
  color: inherit;
}
.sidebar .sidebar-title {
  font-size: 16px;
  padding: 5px 20px;
}
.sidebar .sidebar-menu {
  padding: 5px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.sidebar .sidebar-menu div {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-menu div i {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  font-size: 20px;
}
.sidebar .sidebar-menu div div {
  padding: 8px;
}
.sidebar .sidebar-menu:hover {
  background-color: #EFEFEF;
}
.sidebar .sidebar-menu:hover div div {
  color: #353535;
}
.sidebar .sidebar-menu:hover div i {
  color: #635AFD;
}
.sidebar .sidebar-submenu {
  display: none;
  font-size: 18px;
}
.sidebar .sidebar-submenu li {
  padding-left: 55px;
}
.sidebar .sidebar-submenu li a {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .sidebar-submenu li a div {
  padding: 8px;
}
.sidebar .sidebar-submenu li:hover {
  background-color: #EFEFEF;
}

.menu-choosen {
  color: #352bff !important;
}

.submenu-active {
  background-color: #f3f3f3;
  border-top: 1px solid #e3e3e3;
}

.content-detail-container {
  margin-top: 30px !important;
}

.add-role-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-role-card p {
  text-align: center;
  font-weight: 600;
}
.add-role-card form .form-group {
  margin-bottom: 15px;
}
.add-role-card form .form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.add-role-card form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.row1 {
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(63, 58, 100, 0.1058823529);
}
.row1 .select-role label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.row1 .select-role select {
  min-width: 200px;
}
.row1 .detail-role .detail-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px;
  min-width: 150px;
}
.row1 .detail-role .detail-item label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.filter-permission {
  display: flex;
  flex-flow: row;
  gap: 30px;
  margin-top: 20px;
}
.filter-permission .select-role {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
}
.filter-permission .select-role label {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}
.filter-permission .select-role select {
  min-width: 200px;
}

div.row.permission-table-container {
  margin-top: 20px;
}

#permission-tbody .table tr:hover {
  background-color: #ba1e1e !important;
  cursor: pointer;
}

#permission-tbody .table tr:hover td {
  transition: background-color 0.3s ease;
}

.disabled-action {
  color: #8F8F8F;
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.menu-search-account select,
.menu-search-account input[type=number],
.menu-search-account input[type=text] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
.menu-search-account button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  width: 125px;
}
.menu-search-account button:hover {
  background-color: #027ac5;
}

.table-account {
  flex: 1 0 auto;
}
.table-account .account-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
}
.table-account .account-table th, .table-account .account-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table-account .account-table th {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
}
.table-account .account-table tbody tr:hover {
  background-color: #f9f9f9;
}
.table-account .account-table tbody tr td:last-child button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table-account .account-table tbody tr td:last-child button.btn-primary {
  background-color: #007bff;
  color: #fff;
}
.table-account .account-table tbody tr td:last-child button.btn-primary:hover {
  background-color: #0056b3;
}
.table-account .account-table tbody tr td:last-child button.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.table-account .account-table tbody tr td:last-child button.btn-danger:hover {
  background-color: #c82333;
}
.table-account .account-table img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.table-account .account-table .status {
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
}
.table-account .account-table .status.active {
  background-color: #28a745;
  color: #fff;
}
.table-account .account-table .status.inactive {
  background-color: #dc3545;
  color: #fff;
}
.table-account .table-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.table-account .table-menu .table-search label {
  font-weight: bold;
  margin-bottom: 5px;
}
.table-account .table-menu .table-search input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 5px;
}
.table-account .table-menu .table-search select,
.table-account .table-menu .table-search input[type=number],
.table-account .table-menu .table-search input[type=text] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
.table-account .table-menu .table-search select {
  width: 150px;
}
.table-account .table-menu .table-search button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  width: 125px;
}
.table-account .table-menu .table-search button:hover {
  background-color: #027ac5;
}
.table-account .table-menu .menu-filter {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.table-account .table-menu .menu-filter div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.table-account .table-menu .menu-filter div label {
  font-weight: 500;
}
.table-account .table-menu .menu-filter div select,
.table-account .table-menu .menu-filter div input[type=date] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
}

/*# sourceMappingURL=main.css.map */
