.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.scrollable {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollable::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: #EEEEEE;
}

.content-detail {
  padding: 20px !important;
}

.location-detail {
  color: #a7a7a7;
}

.edit-btn {
  color: #f1c40f;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 18px;
}
.edit-btn:hover {
  color: #b9770e;
}

.refresh-btn {
  color: #3498db;
  transition: color 0.2s ease;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
}
.refresh-btn:hover {
  color: #1f618d;
}

.delete-btn {
  color: #e74c3c;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 18px;
}
.delete-btn:hover {
  color: #922b21;
}

.view-btn {
  color: #3f3a64;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}
.view-btn:hover {
  color: rgba(63, 58, 100, 0.4156862745);
}

.add-btn {
  color: #27ae60;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}
.add-btn:hover {
  color: #176839;
}

.table-list {
  padding: 0px 20px !important;
}
.table-list .table-role {
  width: 100%;
}
.table-list .table-role th, .table-list .table-role td {
  padding: 10px 20px;
}
.table-list .table-role th {
  border-bottom: 1px solid #6e6e6e;
}
.table-list .table-role tr:hover {
  background-color: #ffffff;
}

.btn-create {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-create:hover {
  background-color: #218838;
}

.notification-container {
  max-width: 250px;
}

.notification {
  padding: 15px 20px;
  border-radius: 8px;
  color: #464646;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 80px;
  right: 50px;
}
.notification.success {
  background-color: #DCF3D6;
  border: 0.5px solid #ABC89D;
}
.notification.success > div {
  flex-flow: row;
  align-items: center;
  gap: 50px;
}
.notification.success > div i {
  color: #36831e;
  font-size: 28px;
}
.notification.success > div > div {
  flex-flow: column;
  justify-content: space-between;
}
.notification.success > div > div p#notification-title {
  color: #36831e;
  font-size: 20px;
  margin-bottom: 0 !important;
  font-weight: 600;
}
.notification.success > div > div p#notification-detail {
  color: #BDD6B6;
  font-size: 18px;
  margin-bottom: 0 !important;
}
.notification.error {
  background-color: #EEC8C5;
  border: 0.5px solid #C18489;
}
.notification.error > div {
  flex-flow: row;
  align-items: center;
  gap: 50px;
}
.notification.error > div i {
  color: #BA3C3C;
  font-size: 28px;
}
.notification.error > div > div {
  flex-flow: column;
  justify-content: space-between;
}
.notification.error > div > div p#notification-title {
  color: #BA3C3C;
  font-size: 20px;
  margin-bottom: 0 !important;
  font-weight: 600;
}
.notification.error > div > div p#notification-detail {
  color: #BC4C45;
  font-size: 18px;
  margin-bottom: 0 !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.disabled-link {
  color: rgba(63, 58, 100, 0.1058823529);
  pointer-events: none !important;
  background-color: rgba(63, 58, 100, 0.1058823529);
}
.disabled-link i {
  color: rgba(63, 58, 100, 0.1058823529);
}
.disabled-link:hover {
  color: rgba(63, 58, 100, 0.1058823529);
  background-color: rgba(63, 58, 100, 0.1058823529);
}

.page-link {
  cursor: pointer;
}

header .logo img {
  width: 40px;
  height: 40px;
}
header .user-info img {
  width: 40px;
  height: 40px;
}

body {
  font-family: "Roboto" !important;
  height: 100%;
}

.text-muted-cs {
  color: #a7a7a7 !important;
}

.sidebar {
  padding: 20px 0px;
  height: calc(100vh - 72px);
  border-right: 1px solid #e3e3e3;
  background-color: #EEEEEE;
  color: #6e6e6e;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar .sidebar-user,
.sidebar .sidebar-menu,
.sidebar .sidebar-submenu {
  color: inherit;
}
.sidebar .sidebar-title {
  font-size: 16px;
  padding: 5px 20px;
}
.sidebar .sidebar-menu {
  padding: 5px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.sidebar .sidebar-menu div {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-menu div i {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  font-size: 20px;
}
.sidebar .sidebar-menu div div {
  padding: 8px;
}
.sidebar .sidebar-menu:hover {
  background-color: #EFEFEF;
}
.sidebar .sidebar-menu:hover div div {
  color: #353535;
}
.sidebar .sidebar-menu:hover div i {
  color: #635AFD;
}
.sidebar .sidebar-submenu {
  display: none;
  font-size: 18px;
}
.sidebar .sidebar-submenu li {
  padding-left: 55px;
}
.sidebar .sidebar-submenu li a {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .sidebar-submenu li a div {
  padding: 8px;
}
.sidebar .sidebar-submenu li:hover {
  background-color: #EFEFEF;
}

.menu-choosen {
  color: #352bff !important;
}

.submenu-active {
  background-color: #f3f3f3;
  border-top: 1px solid #e3e3e3;
}

.content-detail-container {
  margin-top: 30px !important;
}

.add-role-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-role-card p {
  text-align: center;
  font-weight: 600;
}
.add-role-card form .form-group {
  margin-bottom: 15px;
}
.add-role-card form .form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.add-role-card form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

/*# sourceMappingURL=main.css.map */
