<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{page}">
<body>
<div layout:fragment="content" class="row content">
  <div class="col-lg-10 bg-white content-container">
    <div class="">
        <div class="mt-2 ms-2">
            <button id="btn-back" class="btn btn-primary">Quay lại</button>
        </div>
        <div class="row textbook-info">
            <div class="col-lg-5 border rounded-3 pt-3 pb-3 ps-4 m-2">
                <div class="fw-bold mb-3">THÔNG TIN GIÁO TRÌNH</div>
                <div class="row">
                    <span class="col-lg-3 fw-bold">Mã: </span>
                    <span class="col-lg-9" id="textbookId" th:attr="data-id=${textbook.id}" th:text="${textbook.id}"></span>
                </div>
                <div class="row">
                    <span class="col-lg-3 fw-bold">Tên: </span>
                    <span class="col-lg-9" id="textbookName" th:text="${textbook.name}"></span>
                </div>
                <div class="row">
                    <span class="col-lg-3 fw-bold">Tác giả: </span>
                    <span class="col-lg-9" id="textbookAuthor" th:text="${textbook.author}"></span>
                </div>
                <div class="row">
                    <span class="col-lg-3 fw-bold">Trạng thái: </span>
                    <span class="col-lg-9" 
                        th:style="${textbook.status != null and textbook.status.colorCode != null} ? 'color: ' + ${textbook.status.colorCode} : ''"
                        th:text="${textbook.status != null and textbook.status.displayName != null} ? ${textbook.status.displayName} : ''">
                    </span>
                </div>
            </div>
            <div class="col-lg-5 border rounded-3 pt-3 pb-3 ps-4 m-2">
                <div class="">
                    <div class="row p-2 menu-lesson">
                        <div class="col-lg-2 fw-bold d-flex align-items-center justify-content-center">
                            Bài học
                        </div>
                        <div class="col-lg-10 menu-lesson-btn">
                            <button type="button" id="lesson-btn-view" class="btn btn-outline-primary" disabled>Xem</button>
                            <button type="button" id="lesson-btn-edit" class="btn btn-outline-warning" disabled>Sửa</button>
                            <button type="button" id="lesson-btn-delete" class="btn btn-outline-danger" disabled>Xóa</button>
                            <button type="button" id="lesson-btn-add" class="btn btn-outline-success">Thêm</button>
                            <button type="button" id="lesson-btn-add-exist" class="btn btn-outline-success">Thêm từ kho</button>
                        </div>
                    </div>
                    <div class="row p-2 menu-section">
                        <div class="col-lg-2 d-flex align-items-center justify-content-center">
                            <a class="nav-link text-decoration-none p-1 rounded-3 border menu-choose active" data-selected="true" id="menu-choose-section" href="javascript:void(0)">Đề mục</a>
                        </div>
                        <div class="col-lg-10 menu-section-btn">
                            <button type="button" id="section-btn-view" class="btn btn-outline-primary" disabled>Xem</button>
                            <button type="button" id="section-btn-edit" class="btn btn-outline-warning" disabled>Sửa</button>
                            <button type="button" id="section-btn-delete" class="btn btn-outline-danger" disabled>Xóa</button>
                            <button type="button" id="section-btn-add" class="btn btn-outline-success" disabled>Thêm</button>
                        </div>
                    </div>
                    <div class="row p-2 menu-exercise">
                        <div class="col-lg-2 d-flex align-items-center justify-content-center">
                            <a class="nav-link text-decoration-none p-1 rounded-3 border menu-choose" id="menu-choose-exercise" href="javascript:void(0)">Bài tập</a>
                        </div>
                        <div class="col-lg-10 menu-exercise-btn d-none">
                            <button type="button" id="exercise-btn-view" class="btn btn-outline-primary" disabled>Xem</button>
                            <button type="button" id="exercise-btn-edit" class="btn btn-outline-warning" disabled>Sửa</button>
                            <button type="button" id="exercise-btn-delete" class="btn btn-outline-danger" disabled>Xóa</button>
                            <button type="button" id="exercise-btn-add" class="btn btn-outline-success" disabled>Thêm</button>
                            <button type="button" id="exercise-btn-add-exist" class="btn btn-outline-success" disabled>Thêm từ kho</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex flex-column justify-content-center align-items-center pt-3 pb-3 ms-3">
                <button type="button" id="detail-content-save" class="btn btn-outline-success" disabled>Lưu Nội Dung</button>
            </div>
        </div>
        <div class="section-content ps-2 pe-2">
            <textarea id="textbook-description" name="textbook-description"></textarea>
        </div>
    </div>
  </div>
  <aside class="col-lg-2 bg-light list-lesson scrollable">
    <ul class="list-lesson-container">
        <li th:each="lessonSection : ${lessonsSections}" class="lesson-item" th:attr="data-id=${lessonSection.id}">
            <a href="javascript:void(0)" class="lesson-title-container d-flex justify-content-between align-items-center border-bottom">
                <input type="checkbox" class="checkbox-lesson">
                <span class="lesson-title" th:text="${lessonSection.title}"></span>
                <i class="fa-solid fa-angle-down"></i>
            </a>
            <ul class="lesson-detail d-none">
                <li class="lesson-detail-item" th:each="section : ${lessonSection.sections}" th:attr="data-id=${section.id}">
                    <a href="javascript:void(0)" class="nav-link d-flex align-items-center text-decoration-none">
                        <strong th:text="${section.priority}"></strong>.
                        <span class="lesson-detail-title" th:text="${section.title}"></span>
                    </a>
                </li>
                <!-- Hiển thị thông báo nếu sections rỗng -->
                <li th:if="${lessonSection.sections == null || lessonSection.sections.isEmpty()}" class="lesson-detail-item">
                    No sections available
                </li>
            </ul>
        </li>
    </ul>
  </aside>
  <div id="notification-container"></div>
  <div id="confirmation-modal"></div>
  <div id="edit-modal">
    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Chỉnh sửa thông tin</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="button" id="edit-modal-save" class="btn btn-primary">Lưu</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="info-modal">
    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thông tin chi tiết</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="add-modal">
    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thêm mới</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="button" id="add-new-btn" class="btn btn-primary">Thêm</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="image-modal">
    <div class="modal fade" id="imageModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fw-bold">Kho ảnh</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-image-upload-container">
                    <div class="upload-container">
                        <label for="file-upload" class="upload-area">
                          <i class="upload-icon fas fa-upload"></i>
                          <span class="upload-text">Tải lên</span>
                          <input type="file" id="file-upload" class="file-upload-input" accept="image/*">
                        </label>
                    </div>
                </div>
                <div class="modal-image-menu-container menu-gallery d-flex justify-content-between align-items-center">
                    <div class="search-gallery-container d-flex">
                        <input id="image-search-checkbox" class="me-2" type="checkbox" >
                        <input id="image-search-input" class="me-2 form-control" type="text" disabled>
                        <button id="image-search-btn" class="btn btn-primary" disabled>Tìm kiếm</button>
                    </div>
                    <div class="sort-gallery-container">
                        <select class="form-select" id="image-sort-order">
                            <option value="1">Mới nhất</option>
                            <option value="2">Cũ nhất</option>
                        </select>
                    </div>
                </div>
                <div class="modal-image-gallery-container row list-media-container">
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <i class="fa-solid fa-arrows-rotate refresh-btn" id="image-modal-refresh-btn"></i>
                    </div>
                    <div class="col-md-6 text-right">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end align-items-center" id="image-modal-pagination">
                                <li class="page-item"><a id="image-modal-prev-page" class="page-link disabled-link">
                                    <i class="fa-solid fa-backward-step"></i></a></li>
                                <!-- Dynamic page numbers will be inserted here -->
                                <li class="page-item"><a id="image-modal-next-page" class="page-link">
                                    <i class="fa-solid fa-forward-step"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                  </div>
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="button" id="image-value-selected" class="btn btn-primary">Chọn</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<th:block layout:fragment="post-scripts">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js"></script>
  <script type="module" src="/js/sidebar/admin-sidebar.js"></script>
  <script type="module" src="/js/contents/detail_textbook.js"></script>
</th:block>
</body>
</html>
